In [6]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('data/andrea_data.csv', skiprows=1)

In [43]:
df.dtypes

APOGEE_ID,     object
KIC,            int64
RA,           float64
DEC,          float64
FE_H,         float64
A_FE,         float64
age,          float64
age_68L,      float64
age_68U,      float64
mass,         float64
mass_68L,     float64
mass_68U,     float64
dist,         float64
dist_68L,     float64
dist_68U,     float64
Av,           float64
Av_68L,       float64
Av_68U,       float64
evstate         int64
dtype: object

In [44]:
df.dtypes

APOGEE_ID,     object
KIC,            int64
RA,           float64
DEC,          float64
FE_H,         float64
A_FE,         float64
age,          float64
age_68L,      float64
age_68U,      float64
mass,         float64
mass_68L,     float64
mass_68U,     float64
dist,         float64
dist_68L,     float64
dist_68U,     float64
Av,           float64
Av_68L,       float64
Av_68U,       float64
evstate         int64
dtype: object

In [45]:
df.columns = df.columns.str.replace(',','')

In [46]:
df.columns

Index(['APOGEE_ID', 'KIC', 'RA', 'DEC', 'FE_H', 'A_FE', 'age', 'age_68L',
       'age_68U', 'mass', 'mass_68L', 'mass_68U', 'dist', 'dist_68L',
       'dist_68U', 'Av', 'Av_68L', 'Av_68U', 'evstate'],
      dtype='object')

In [47]:
df.head(5)

,APOGEE_ID,KIC,RA,DEC,FE_H,A_FE,age,age_68L,age_68U,mass,mass_68L,mass_68U,dist,dist_68L,dist_68U,Av,Av_68L,Av_68U,evstate
0,2M19250937+3644599,1027110,291.28906,36.74998,-0.23222,0.20453,16.2124,11.3501,24.1938,0.8840,0.7943,0.9754,2598.2130,2536.5302,2663.6808,0.3496,0.2422,0.4648,0
1,2M19252021+3647118,1027337,291.33421,36.78664,0.27517,0.02257,6.0138,4.8417,7.5603,1.2304,1.1658,1.3181,1232.9190,1214.5069,1251.6686,0.2401,0.1750,0.3141,1
2,2M19233280+3652207,1160789,290.88667,36.87243,-0.25745,0.18750,16.5561,12.6270,21.6187,0.8531,0.8070,0.9119,668.8936,658.4153,678.4895,0.0983,0.0522,0.1748,2
3,2M19241746+3651460,1161447,291.07278,36.86280,0.05792,-0.00560,4.9287,4.1697,6.0934,1.2459,1.1694,1.3278,2255.7231,2238.4626,2272.4140,0.3725,0.3450,0.4121,2
4,2M19242614+3648478,1161618,291.10892,36.81329,0.06420,0.00514,7.1264,5.9566,8.3395,1.1053,1.0519,1.1703,775.3649,766.4784,784.2935,0.2291,0.1676,0.2648,2

In [49]:
df.to_csv('data/andrea_data_proc.csv')